<nav>
    <div class="site-title">
        <a href="/"><h1>Site Navigation</h1></a>
        <p>Data display</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/table">Data</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New record</a></li>
    </ul>
</nav>